.todoCard {
  background-color: #009688;
  color: white;
  mat-card-actions {
    margin-bottom: 5px;
  }
  button {
    background-color: #00675b;
    color: white;
    &:hover {
      background-color: #52c7b8;
    }
  }
}
